{% extends "home/base.html" %}{% load static %}{% block content %}

<!-- 4.1.1.2 About Us Page -->
<div class="px-5 py-5 my-5 text-center"
     style="background-image: url('{% static "home/CIRSX homepage_header.jpg" %}');
            background-color: dimgray;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 55% 55%;
            background-blend-mode: overlay;
            height: 325px;">

<h1 class="display-1 fw-bold text-white p-5">
    About Us
</h1>
</div>
<!-- 4.1.1.2.1 Video Section -->
<div class="container py-5 px-5 rounded-3 border bg-light shadow-lg text-center">

    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/685586533/7df223a631?embedded=true&source=video_title&owner=118339223"
            title=""
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
</div>



<!-- 4.1.1.2.2 Purpose Jumbotron -->
<div class="container py-5">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center text-center">
        <div class="p-2 text-black bg-white rounded-3">

            <!-- 4.1.1.2.2.1 Title -->
            <h2>Our Purpose</h2>
            <!-- 4.1.1.1.2.2 Jumbotron Text -->
            <!-- 4.1.1.2.2.2 Text -->
            <div style="text-align: left">
                <ul class="fs-4 pt-2">
                    <li>
                        To create and refine standards, while staying on the cutting edge and using
                        an evidence-based approach.
                    </li>

                    <li>
                        To transform multiple industries and their approaches toward Chronic
                        Inflammatory Response Syndrome (CIRS) and other environmentally related
                        health challenges.
                    </li>

                    <li>
                        Work with well-known methods to test new technology for better outcomes.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- 4.1.1.2.3 Vision Jumbotron -->
<div class="container pb-5">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center text-center">
        <div class="p-2 text-black bg-white rounded-3">
            <!-- 4.1.1.2.3.1 Title -->
            <h2>Our Vision</h2>
            <!-- 4.1.1.2.3.2 Text -->
            <div style="text-align: left">
                <ul class="fs-4 pt-2">
                    <li>
                        To identify the environmental problems, identify knowledge gaps, contribute
                        to and perform research, develop solutions and teach both the problems and
                        solutions to the environmental and medical worlds.
                    </li>

                    <li>
                        To further educate other realms such as legal, layperson, medical and
                        residential/commercial insurance worlds.
                    </li>

                    <li>
                        To create new standards and refine older standards by reviewing literature,
                        professional experiences and collected data allowing the evidence to guide
                        best practices.
                    </li>

                    <li>
                        To create a safe place for varying disciplines, such as environmental
                        professionals, healthcare providers and others, to interface and interact to
                        develop multi-industry solutions for environmental problems.
                    </li>

                    <li>
                        To develop a repository of trusted educational and research materials and
                        make these resources available to the different worlds.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>






<!-- 4.1.1.2.4 Meet the Team Album -->
<div class="pt-5 bg-primary rounded-3">
    <div class="container">
        <!-- 4.1.1.2.4.1 Title -->
        <h1 class="display-5 fw-bold text-center text-warning fs-1">Meet The Team</h1>
        <br>

        <div class="row">
            <div class="col-md-4  col-sm-6 order-first text-center">
                <img src="{% static 'home/scott About.png' %}" class="card-img-top img-responsive" alt=""
                     height="70%"
                     width="60%">
                <div class="card-body">
                    <h5 class="card-title text-warning fs-3 text-center">Scott McMahon, MD</h5>
                    <p class="fs-4 text-white text-center pb-3">  Founder <br>
                        Medical Expert </p>
                </div>
            </div>
            <div class="col-md-4  col-sm-6 text-center">
                <img src="{% static 'home/Greg.png' %}" class="card-img-top" alt=""
                     height="70%"
                     width="60%">
                <div class="card-body">
                    <h5 class="card-title text-warning fs-3">Greg Weatherman, CMC</h5>
                    <p class="fs-4 text-white pb-3">
                        Founder <br>
                    Environmental Expert </p>
                </div>
            </div>
            <div class="col-md-4  col-sm-6 order-last text-center">
                <img src="{% static 'home/marcia.png' %}" class="card-img-top" alt=""
                     height="70%"
                     width="60%">
                <div class="card-body">
                    <h5 class="card-title text-warning fs-3">Marcia Cash</h5>
                    <p class="fs-4 text-white pb-3">  Founder <br>
                        Project Manager </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4  col-sm-6 order-first">
                <img src="{% static 'home/Eric2.png' %}" class="card-img-top pt-5" alt=""
                     height="70%"
                     width="60%">
                <div class="card-body">
                    <h5 class="card-title text-warning fs-3 text-center">Eric Dorninger, ND</h5>
                    <p class="fs-4 text-white text-center"> Sponsorship and Attendee Liason </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 order-last text-center">
                <img src="{% static 'home/Chloe  2.png' %}" class="card-img-top pt-5" alt=""
                     height="70%"
                     width="60%">
                <div class="card-body">
                    <h5 class="card-title text-warning fs-3">Chloe Celusnek, PA-C</h5>
                    <p class="fs-4 text-white">  Social Media Specialist</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 4.1.1.2.4.3 Team Management -->
<div class="pt-5 bg-light rounded-3">
    <div class="container">
        <!-- 4.1.1.2.4.1 Title -->
        <h1 class="display-4 fw-bold text-center">Strategic Partners</h1>
        <br>

        <div class="row pt-5">
            <div class="col order-first">
                <img src="{% static 'home/Karen.jpg' %}" class="card-img-top img-responsive" alt=""
                     height="60%"
                     width="50%">
                <div class="card-body">
                    <h5 class="card-title text-black fs-3 text-center">Karen Johnson, MD</h5>
                </div>
            </div>
            <div class="col order-mid text-center">
                <img src="{% static 'home/Jacki_Meinhardt.jpg' %}" class="card-img-top" alt=""
                     height="60%"
                     width="50%">
                <div class="card-body">
                    <h5 class="card-title text-black fs-3">Jacki Meinhardt, DNP</h5>
                </div>
            </div>
            <div class="col order-last text-center">
                <img src="{% static 'home/Louise_carder.jpeg' %}" class="card-img-top" alt=""
                     height="60%"
                     width="50%">
                <div class="card-body">
                    <h5 class="card-title text-black fs-3">Louise Carder, BSc, Nutr. Med</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-white rounded-3">
    <div class="container">
        <!-- 4.1.1.2.4.1 Title -->
        <h1 class="display-2 fw-bold text-center">Support Partners</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4 align-items-center">
            <div class="col text-center">
                <a href="https://purplehippo.io/">
                    <img src="{% static 'home/purple hippo.png' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">

                </div>
            </div>
            <div class="col text-center">
                <a href="https://www.novamacro.net/">
                    <img src="{% static 'home/novamacro.png' %}" class="card-img-top" alt="..."
                         height="175px">
                </a>
                <div class="card-body">

                </div>
            </div>
            <div class="col text-center">
                <a href="https://conferencedirect.com/">
                    <img src="{% static 'home/CDLOGO.png' %}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>




<div class="px-4 py-5 my-5 text-center bg-warning">
    <h1 class="display-5 fw-bold">
        Want to Know More?
    </h1>
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <!-- 4.1.1.1.1.3 Primary Button -->
            <!-- 4.1.1.1.1.3.2 Text -->
            <!-- 4.1.1.1.1.3.1 Link -->
            <a class="btn btn-dark btn-lg btn-outline-secondary text-white" href="{% url "contact_us" %}"> Contact Us »</a>
        </div>
    </div>
</div>




{% endblock content %}