<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>

    <div class="container-fluid sticky-top bg-white">
      <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
      >
        <a
          href="home.html"
          class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
        >
          <img
            class="d-block mx-auto mb-4"
            src="../../Static/home/Transparent-gold.jpg"
            alt=""
            width="150"
            height="100"
          />
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a href="home.html" class="nav-link px-2 link-secondary">Home</a>
          </li>
          <li>
            <a href="conference.html" class="nav-link px-2 link-dark"
              >Conference</a
            >
          </li>
          <li>
            <a href="subscribe.html" class="nav-link px-2 link-dark"
              >Subscribe</a
            >
          </li>
          <li>
            <a href="about_us.html" class="nav-link px-2 link-dark">About Us</a>
          </li>
        </ul>

        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2">
            Login
          </button>
          <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
      </header>
    </div>

    <!-- 4.1.1.1.1 Welcome Hero -->
    <!-- 4.1.1.1.1.1 Header Text -->
    <div class="px-4 py-5 my-5 text-center">
      <!--4.1.1.1.1.2 Background -->

      <h1 class="display-5 fw-bold">
        CIRSx: A Comprehensive Solution for CIRS Education, Training and
        Remediation
      </h1>
      <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <!-- 4.1.1.1.1.3 Primary Button -->
          <!-- 4.1.1.1.1.3.2 Text -->
          <!-- 4.1.1.1.1.3.1 Link -->
          <a class="btn btn-primary" href="about_us.html"> Learn More »</a>

        </div>
      </div>
    </div>

    <!-- 4.1.1.1.2 Join the Mission Feature w/Jumbotron -->

    <!-- 4.1.1.1.2.1 Jumbotron Title Text -->
    <div class="container">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center text-center">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Join the Mission</h2>
          <!-- 4.1.1.1.2.2 Jumbotron Text -->
          <p>
            Providing science-based training, education, and awareness to
            environmental and medical professionals treating Chronic
            Inflammatory Response Syndrome (CIRS) patients.
          </p>
        </div>
      </div>
    </div>
    <!-- 4.1.1.1.2.3 Jumbotron Background -->

    <!-- 4.1.1.1.2.4 Features -->
    <!--4.1.1.1.2.4.1 Get Help -->
    <!-- 4.1.1.1.2.4.1.1 Icon -->

    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-4 text-center">
          <div class="h-100 p-5 rounded-3 bg-light">
            <!-- 4.1.1.1.2.4.1.2 Title-->
           <!--Question-Mark-Circle-->

            <img class="d-block mx-auto mb-4"
            src="../../../Static/CIRSX CONF_icons (500 × 500 px) (1500 × 500 px) (4).png"
            alt=""
            width="300"
            height="100">


            <h2>Get Help</h2>

            <!-- 4.1.1.1.2.4.1.3 Text -->
            <p>
              Connect with environmental and medical professionals providing
              treatment and remediation services to those suffering from CIRS
              and other mold-based illnesses, while building the knowledge and
              skills required to prevent future mold, and its dangerous impact.
            </p>

            <!-- 4.1.1.1.2.4.1.4 Button -->
            <!-- 4.1.1.1.2.4.1.4.1 Link -->
            <a class="btn btn-primary" type="button" href="subscibe.html">
              Subscribe
            </a>
          </div>
        </div>




        <!-- 4.1.1.1.2.4.2 Get Educated -->
        <div class="col-4 text-center">
          <div class="h-100 p-5 rounded-3 bg-light">
            <!-- 4.1.1.1.2.4.2.1 Icon -->
            <!--Lightblub-->
            <img class="d-block mx-auto mb-4"
            src="../../../Static/CIRSX CONF_icons (500 × 500 px) (1500 × 500 px) (3).png"
            alt=""
            width="300"
            height="100">

            <!-- 4.1.1.1.2.4.2.2 Title-->
            <h2>Get Educated</h2>

            <!-- 4.1.1.1.2.4.2.3 Text -->
            <p>
              Whether you are a member of the medical community or an
              environmental professional looking for general education,
              certification, or continuing education credits, our comprehensive
              subscription is your one stop shop for all things CIRS.
            </p>
            <br>
            <!-- 4.1.1.1.2.4.2.4 Button -->
            <!-- 4.1.1.1.2.4.2.4.1 Link -->
            <!-- 4.1.1.1.2.4.2.4.2 Text -->
            <a class="btn btn-primary" type="button" href="medical_glossary.html">
              Learn
            </a>
          </div>
        </div>

        <!-- 4.1.1.1.2.4.3 Get Involved -->



        <div class="col-4 text-center">
          <div class="h-100 p-5 rounded-3 bg-light">
            <!-- 4.1.1.1.2.4.3.1 Icon -->
            <img class="d-block mx-auto mb-4"
            src="../../../Static/CIRSX CONF_icons (500 × 500 px) (1500 × 500 px) (5).png"
            alt=""
            width="300"
            height="100">

            <!-- 4.1.1.1.2.4.3.2 Title-->
            <h2>Get Involved</h2>

            <!-- 4.1.1.1.2.4.3.3 Text -->
            <p>
              Join the movement toward reducing the impact of mold and restoring
              health to individuals suffering with environmentally acquired
              illnesses by collaborating at events and conferences designed to
              share clinical best practices, remediation techniques, testing
              solutions and research.
            </p>

            <!-- 4.1.1.1.2.4.3.4 Button -->
            <!-- 4.1.1.1.2.4.3.4.1 Link -->
            <!-- 4.1.1.1.2.4.3.4.2 Text -->
            <a class="btn btn-primary" type="button" href="conference.html">
              Register
            </a>
            </div>
          </div>
        </div>
      </div>


    <!-- 4.1.1.1.3 Jumbotron Quote -->
    <!-- 4.1.1.1.3.1 Jumbotron Text -->
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5 text-center">
        <h3 class="display-5">
          <q
            >Surviving Mold is the beginning of what we'd all like to see. An
            illness defeated and lives restored all over the world.</q
          >
        </h3>
        <br />
        <p class="col-md-12 fs-4 text-center">— Ritchie Shoemaker, MD</p>
      </div>
    </div>

    <!--4.1.1.1.3.2 Jumbotron Background -->
    <!--4.1.1.1.4 Blog/Announcements/News -->
    <div class="container pt-5 pb-5">
        <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Blog</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">News</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Annoucements</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->

        <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Blog</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">News</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Annoucements</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div>

    <!-- 4.1.1.1.5 Section Title -->
    <!-- 4.1.1.1.6 Section Content -->
    <!-- 4.1.1.1.6.1 Announcement Management -->

    <!-- 4.1.1.1.7 Trusted Source Hero -->

    <div class="container my-5">
      <div
        class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
      >
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <!-- 4.1.1.1.7.1 Title -->
          <h1 class="display-4 fw-bold lh-1">
            A Trusted Source for CIRS Information
          </h1>
          <!-- 4.1.1.1.7.2 Text -->
          <p class="lead">
            At CIRSx, we believe in delivering a product that is backed by
            peer-reviewed scientific data. Our vast online content repository
            provides physicians, environmental professionals, and patients
            suffering from mold related illnesses with direct access to
            scientifically proven, authentic content like articles,
            bibliographies, podcasts, and training.
            <br />
            <br />
            Get direct access to this proprietary content and more as a CIRSx
            Professional Subscriber. You have full access to the CIRSx database
            and four special educational events annually, a $900 value.
          </p>

          <!-- 4.1.1.1.7.4 Button -->
          <!-- 4.1.1.1.7.4.2 Text -->
          <!-- 4.1.1.1.7.4.1 Link -->
          <div
            class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
          >
            <a class="btn btn-primary" href="subscribe.html"> Subscribe »</a>
          </div>
        </div>

        <div class="col-lg-4 offset-lg-1 p-0">
            <iframe width="560" height="315" src="https://vimeo.com/684756974/a565deca6b?embedded=true&source=video_title&owner=118339223" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
   </div>
  </div>


    <footer>
      <div class="container pt-3 text-center">
           CIRSx LLC All Rights Reserved | 2021 - 2022
      </div>
    </footer>
  </body>

</html>

<!--   -->
