{% extends "home/base.html" %}{% load static %}{% block content %}
<!-- 4.1.1.1.1 Welcome Hero -->
<!-- 4.1.1.1.1.1 Header Text -->

<div class="text-center bg-secondary mt-0"
     style="background-image: url('{% static "home/CIRSX homepage_header.jpg" %}');
            background-repeat: no-repeat;
            background-size: cover;">

  <!--4.1.1.1.1.2 Background -->
  <div class="col-6" style="height: 400px">
    <h1 class="display-5 fw-bold text-dark p-2">
    CIRSx: A Comprehensive Solution for CIRS Education, Training and Remediation
  </h1>
 <div class="col-lg-6 mx-auto p-3">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
       <!--4.1.1.1.1.3 Primary Button -->
        <a class="btn btn-warning btn-lg btn-outline-secondary text-black " href="{% url "about_us" %}">Learn More</a>
    </div>
  </div>
      </div>
</div>

<!-- 4.1.1.1.2 Join the Mission Feature w/Jumbotron -->

<!-- 4.1.1.1.2.1 Jumbotron Title Text -->
<div class="p-5 mb-4 bg-primary rounded-3">
  <div class="container-fluid py-5 text-center">
      <h2 class="text-warning">Join the Mission</h2>
      <!-- 4.1.1.1.2.2 Jumbotron Text -->
      <p class="text-white fs-3">
        Providing science-based training, education, and awareness to
        environmental and medical professionals treating Chronic Inflammatory
        Response Syndrome (CIRS) patients.
      </p>
    </div>
  </div>
<!-- 4.1.1.1.2.3 Jumbotron Background -->

<!-- 4.1.1.1.2.4 Features -->
<!--4.1.1.1.2.4.1 Get Help -->
<!-- 4.1.1.1.2.4.1.1 Icon -->

<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-4 text-center">
      <div class="h-100 p-4 rounded-3 bg-light">
        <!-- 4.1.1.1.2.4.1.2 Title-->
        <!--Question-Mark-Circle-->

        <img class="mb-4" src="{% static "home/questionmark-circle.png" %}" alt=""
             width="350" height="125" />

        <h2>Get Help</h2>

        <!-- 4.1.1.1.2.4.1.3 Text -->
        <p class="fs-4">
          Connect with environmental and medical professionals providing
          treatment and remediation services to those suffering from CIRS and
          other mold-based illnesses, while building the knowledge and skills
          required to prevent future mold, and its dangerous impact.
        </p>

        <!-- 4.1.1.1.2.4.1.4 Button -->
        <!-- 4.1.1.1.2.4.1.4.1 Link -->
        <a class="btn btn-dark btn-lg btn-outline-secondary text-white" type="button" href="{% url "subscribe" %}">
            Subscribe </a>
      </div>
    </div>

    <!-- 4.1.1.1.2.4.2 Get Educated -->
    <div class="col-4 text-center">
      <div class="h-100 p-4 rounded-3 bg-light">
        <!-- 4.1.1.1.2.4.2.1 Icon -->
        <!--Lightblub-->
        <img class="mb-4" src="{% static "home/lightbulb.png" %}" alt=""
        width="350" height="125" />

        <!-- 4.1.1.1.2.4.2.2 Title-->
        <h2>Get Educated</h2>

        <!-- 4.1.1.1.2.4.2.3 Text -->
        <p class="fs-4">
          Whether you are a member of the medical community or an environmental
          professional looking for general education, certification, or
          continuing education credits, our comprehensive subscription is your
          one stop shop for all things CIRS.
        </p>
        <!-- 4.1.1.1.2.4.2.4 Button -->
        <!-- 4.1.1.1.2.4.2.4.1 Link -->
        <!-- 4.1.1.1.2.4.2.4.2 Text -->
        <a class="btn btn-dark btn-lg btn-outline-secondary text-white" type="button" href="{% url "medical_glossary"%}"> Learn </a>
      </div>
    </div>

    <!-- 4.1.1.1.2.4.3 Get Involved -->

    <div class="col-4 text-center">
      <div class="h-100 p-4 rounded-3 bg-light">
        <!-- 4.1.1.1.2.4.3.1 Icon -->
        <img class="mx-auto mb-4" src="{% static "home/people_circle.png" %}"
             alt="" width="350" height="125"
          />

        <!-- 4.1.1.1.2.4.3.2 Title-->
        <h2>Get Involved</h2>

        <!-- 4.1.1.1.2.4.3.3 Text -->
        <p class="fs-4">
          Join the movement toward reducing the impact of mold and restoring
          health to individuals suffering with environmentally acquired
          illnesses by collaborating at events and conferences designed to share
          clinical best practices, remediation techniques, testing solutions and
          research.
        </p>

        <!-- 4.1.1.1.2.4.3.4 Button -->
        <!-- 4.1.1.1.2.4.3.4.1 Link -->
        <!-- 4.1.1.1.2.4.3.4.2 Text -->
        <a class="btn btn-dark btn-lg btn-outline-secondary text-white" type="button" href="{% url "subscribe" %}">
            Register</a>
      </div>
    </div>
  </div>
</div>

<!-- 4.1.1.1.3 Jumbotron Quote -->
<!-- 4.1.1.1.3.1 Jumbotron Text -->
<div class="p-5 mb-4 bg-warning rounded-3">
  <div class="container-fluid py-5 text-center">
    <h3 class="display-5">
      <q
        >Surviving Mold is the beginning of what we'd all like to see. An
        illness defeated and lives restored all over the world.</q
      >
    </h3>
    <br />
    <p class="col-md-12 fs-4 text-center">— Ritchie Shoemaker, MD</p>
  </div>
</div>

<!--4.1.1.1.3.2 Jumbotron Background -->
<!--4.1.1.1.4 Blog/Announcements/News -->

<div class="container">
    <div class="row flex-row flex-nowrap overflow-scroll">
        {% for i in front %}
        <div class="col-3" style="height: 400px">
            <div class="card card-block">
                <div class="card" style="width: 18rem;">
                  <img src="{% static "home/Transparent-gold.jpg" %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text">{{ i.body}}</p>
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

  <!-- 4.1.1.1.5 Section Title -->
  <!-- 4.1.1.1.6 Section Content -->
  <!-- 4.1.1.1.6.1 Announcement Management -->

  <!-- 4.1.1.1.7 Trusted Source Hero -->

  <div class="container my-5">
    <div
      class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
    >
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <!-- 4.1.1.1.7.1 Title -->
        <h1 class="display-4 fw-bold lh-1">
          A Trusted Source for CIRS Information
        </h1>
        <!-- 4.1.1.1.7.2 Text -->
        <p class="lead fs-4">
          At CIRSx, we believe in delivering a product that is backed by
          peer-reviewed scientific data. Our vast online content repository
          provides physicians, environmental professionals, and patients
          suffering from mold related illnesses with direct access to
          scientifically proven, authentic content like articles,
          bibliographies, podcasts, and training.
          <br>
          <br>
          Get direct access to this proprietary content and more as a CIRSx
          Professional Subscriber. You have full access to the CIRSx database
          and four special educational events annually, a $900 value.
        </p>

        <!-- 4.1.1.1.7.4 Button -->
        <!-- 4.1.1.1.7.4.2 Text -->
        <!-- 4.1.1.1.7.4.1 Link -->
        <div
          class="d-grid gap-s d-md-flex justify-content-md-center mb-4 mb-lg-3"
        >
            <a class="btn btn-dark btn-lg btn-outline-secondary text-white" href="{% url "subscribe" %}"> Subscribe » </a>
        </div>
      </div>

      <div class="col-lg-4 offset-lg-0 p-0">
        <iframe
          width="500"
          height="315"
          src="https://vimeo.com/684756974/a565deca6b?embedded=true&source=video_title&owner=118339223"
          title=""
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>

{% endblock content %}
