{% extends "home/base.html" %}{% load static %}{% block content %}

<div class="row row-cols-1 row-cols-md-2 g-4 align-items-center">
        <!--1-->
  <div class="col text-center">
          <img src="{% static 'home/purple hippo.png' %}" class="card-img-top" alt="...">
      <div class="card-body">

      </div>
  </div>
        <!--2-->
  <div class="col text-center">
          <img src="{% static 'home/novamacro.png' %}" class="card-img-top" alt="...">
      <div class="card-body">

      </div>
  </div>
        <!--3-->
    <div class="col text-center">
          <img src="{% static 'home/CDLOGO.png' %}" class="card-img-top" alt="...">
      <div class="card-body">

      </div>
    </div>
        <!--4-->
    <div class="col text-center">
          <img src="{% static 'home/CDLOGO.png' %}" class="card-img-top" alt="...">
      <div class="card-body">

      </div>
    </div>
        <!--5-->
    <div class="col text-center">
          <img src="{% static 'home/CDLOGO.png' %}" class="card-img-top" alt="...">
      <div class="card-body">

      </div>
    </div>
        <!--6-->
    <div class="col text-center">
          <img src="{% static 'home/CDLOGO.png' %}" class="card-img-top" alt="...">
      <div class="card-body">

      </div>
    </div>
        <!--7-->
    <div class="col text-center">
          <img src="{% static 'home/CDLOGO.png' %}" class="card-img-top" alt="...">
      <div class="card-body">

      </div>
    </div>
        <!--8-->
    <div class="col text-center">
          <img src="{% static 'home/CDLOGO.png' %}" class="card-img-top" alt="...">
      <div class="card-body">

      </div>
    </div>
        <!--9-->
    <div class="col text-center">
          <img src="{% static 'home/CDLOGO.png' %}" class="card-img-top" alt="...">
      <div class="card-body">

      </div>
    </div>
        <!--10-->
    <div class="col text-center">
          <img src="{% static 'home/CDLOGO.png' %}" class="card-img-top" alt="...">
      <div class="card-body">

      </div>
    </div>

  </div>

{% endblock content %}