{% extends "home/base.html" %}{% load static %}{% block content %}

<div class="p-5 mb-4 bg-secondary rounded-3">
  <div class="container-fluid py-5">
     <h1 class="display-5 fw-bold text-white text-center">Sponsors and Exhibitors</h1>
  </div>
</div>

<div class="row featurette bg-primary pt-5 pb-5">
  <div class="col-md-7 order-md-2">
    <ul>
      <li class="p-1 fs-3 text-white">
        Promote your brand and sell your product or services in a variety of ways – at in-person conference with pop up banners/signage,
          exhibit table, and throughout the next 12 months through logo and banner ads, video content on CIRSx website, conference communications,
          and our growing online Membership Library.
      </li>
      <li class="p-1 fs-3 text-white">
        Speak/present in front of in-person meeting attendees, promoting product and services while showing scientific evidence to support.
      </li>
      <li class="p-1 fs-3 text-white">
          <b>Join the mission</b> by meeting and networking with top physicians of their field and patients affected by CIRS.
      </li>
      <li class="p-1 fs-3 text-white">
          Support and be a part of a <b>“Good Cause”</b> in the medical space serving patients impacted by mold related illnesses,
          specifically Chronic Inflammatory Response Syndrome (CIRS).
      </li>
      <li class="p-1 fs-3 text-white">
        Access to the exclusive CIRSx Medical Glossary.
      </li>
    </ul>
   <div class="text-center">
    <a class="btn btn-warning btn-lg btn-outline-secondary text-black p-4" href= "{% url "subscribe" %}"> Learn More »</a>
  </div>
  </div>

  <div class="col-md-5 order-md-1">
      <h1 class="text-warning">Why Sponsor?</h1>
  </div>
</div>

{% endblock content %}