{% extends "home/base.html" %}{% load static %}{% block content %}

    <!-- 4.1.1.3 Subscription Page -->

    <!-- 4.1.1.3.1 Subscription Pricing Element -->

    <!-- 4.1.1.3.1.1 Pricing Title -->
        <h2> Your ‘Go-To Resource’ for All Aspects of Biotoxin/Mold Illness </h2>

    <!-- 4.1.1.3.1.2 Pricing Text -->
        Welcome!  By subscribing, you will gain access to a comprehensive, up-to-date, and relevant search engine
        of medical and environmental research papers, bibliographies, past conference content, and video tutorials
        relating to all aspects of biotoxin/mold illness.

    <!-- 4.1.1.3.1.3 Price Card -->
    <!-- The Price Card will have a Title with the tier, Price of the tier, Tier Description, Items that come with subscription level -->

    <!-- 4.1.1.3.1.4 Compare Plan List -->
        TBD

    <!-- 4.1.1.3.2 Free Content -->

    <!-- 4.1.1.3.2.1 Title -->
        <h2> What You can Expect from CIRSx Content </h2>

    <!-- 4.1.1.3.2.2 Text -->
        These free beginner’s video guides will provide you with expert tips for medical & environmental professionals
        and patients.

    <!-- 4.1.1.3.2.3 Buttons -->


    <!-- 4.1.1.3.3 Training Partners -->

    <!-- 4.1.1.3.3.1 Title -->
        <h2> Services and Training Courses from our Partners </h2>

    <!-- 4.1.1.3.3.2 Text w/links -->
        SurvivingMold “Proficiency Partner Online”  Dr. Ritchie Shoemaker

        SurvivingMold Online VCS Screening Test

        SurvivingMold Online NeuroQuant Analysis

        “Medical-Grade Remediation” Training and Certification Greg Weatherman, Certified Microbial Consultant
        Coming 1st quarter 2022

{% endblock content %}



