{% extends "member/base.html" %}{% load static %}{% block content %}

 <div class="p-5 bg-secondary"
    style="background-image: url('{% static "index/tier_page/events_BG.jpg" %}');
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: 75% 75%;
                 background-blend-mode: darken">
    <div class="container-fluid" style="height: 150px;">

    <h1 class="display-1 p-2 fw-bold text-white text-center">Sign a guest up for an Event.</h1>
    </div>
    </div>

    <div class="col-md-8 mx-auto col-lg-5 fs-4">
      <form class="p-4 p-md-5 rounded-3 bg-light" action="{% url 'events_register' %}" method="post">
        {% csrf_token %}
        <div class="form-floating mb-5">
          <div class="row g-9 align-items-center">

            <!--Event-->
            <div class="form-floating mb-5">
              {{ form.event }}
              <label for="event">Which Event? </label>
            </div>

            <!--Member-->
            <div class="form-floating mb-5">
              {{ form.member }}
              <label for="member">Member Name</label>
            </div>

            <!--How many -->
              {% for form_data in formst %}
                  <tr class="item">
                        <td>
                            {{ form_data.guest_name }}
                        </td>
                        <td>
                            {{ form_data.guest_email }}
                        </td>
                        <td>
                            {{ form_data.attendance }}
                          <!--  <div class="dropdown" style="padding-right: 10px">
                              <a class="btn dropdown-toggle order-first text-black border-none fs-5" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"
                                 style="background-color: #EBEADF;
                                 outline: #EBEADF;
                                 border: #EBEADF">
                                  Professional Tier
                              </a>

                              <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                                <li ><a class="dropdown-item">In Person</a></li>
                                <li><a class="dropdown-item"> Via Web</a></li> -->
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm remove-form-row"
                                    id="{{ formset.prefix }}">
                                Delete
                            </button>
                        </td>
                  </tr>
            {% endfor %}
          <tr>
              <td colspan="9"
                  style="border-left: none!important; border-right:none!important; border-bottom: none!important;">
                  <button type="button" class="btn btn-sm btn-success add-form-row"
                          id="{{ formset.prefix }}">
                      Add Guest
                  </button>
              </td>
          </tr>


            <div class="form-floating mb-5">
              {{ form.guest_name }}
              <label for="guest_name">Guest Name</label>
            </div>

            <!--Guest Last name-->
            <div class="form-floating mb-5">
              {{ form.guest_email }}
              <label for="guest_email">Guest Email Name</label>
            </div>
          </div>
            {% endfor %}

          <button
            class="btn btn-dark btn-lg btn-outline-secondary text-white"
            type="submit">
            Submit
          </button>
        </div>
      </form>
</div>


{% endblock content %}