{% extends "home/base.html" %}{% load static %}{% block content %}

 <div class="p-5 bg-secondary"
    style="background-image: url('{% static "home/tier_page/events_BG.jpg" %}');
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: 75% 75%;
                 background-blend-mode: darken">
    <div class="container-fluid" style="height: 150px;">

    <h1 class="display-1 p-2 fw-bold text-white text-center">Sign a guest up for an Event.</h1>
    </div>
    </div>

    <div class="col-md-8 mx-auto col-lg-5 fs-4">
      <form class="p-4 p-md-5 rounded-3 bg-light" action="{% url 'events_register' %}" method="post">
        {% csrf_token %}
        <div class="form-floating mb-5">
          <div class="row g-9 align-items-center">

            <!--Event-->
            <div class="form-floating mb-5">
              {{ form.event }}
              <label for="event">Which Event? </label>
            </div>

            <!--Member-->
            <div class="form-floating mb-5">
              {{ form.member }}
              <label for="member">Member Name</label>
            </div>

            <!--How many -->
            <div class="form-floating pb-5">
                <p>How Many Guest are you Bringing?</p>
              <input type="number" id="count" name="count">
              <label hidden for="count">How many Guest are you brining?</label>
            </div>
            {% for i in count %}

            <!--Guest first Name-->
            <div class="form-floating mb-5">
              {{ form.guest_first_name }}
              <label for="guest_first_name">Guest First Name</label>
            </div>

            <!--Guest Last name-->
            <div class="form-floating mb-5">
              {{ form.guest_last_name }}
              <label for="guest_last_name">Guest Last Name</label>
            </div>
          </div>
            {% endfor %}

          <button
            class="btn btn-dark btn-lg btn-outline-secondary text-white"
            type="submit"
          >
            Submit
          </button>
        </div>
      </form>
</div>


{% endblock content %}