{% extends "member/base.html" %}{% load static %}{% block content %}

<div class="p-5 bg-secondary" style="background-image: url('{% static "index/tier_page/events_BG.jpg" %}');
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: 75% 75%;
                 background-blend-mode: darken">
    <div class="container-fluid" style="height: 150px;">
        <h1 class="display-1 p-2 fw-bold text-white text-center">Sign up for an Event.</h1>
    </div>
</div>

<div class="col-md-8 mx-auto col-lg-5 fs-4 text-center">
  <form class="pt-4 pb-1 bg-light container-fluid" action="{% url 'events_register' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <button type="submit" class="btn btn-success btn-sm btn-outline-secondary text-white">Submit</button>
  </form>
</div>

{% endblock content %}