{% extends "home/base.html" %}{% load static %}{% block content %}

    <div class="p-5 w-100 bg-secondary" style="background-image: url('{%  %}')">
    <div class="container-fluid py-5">

    <h1 class="display-5 fw-bold text-white text-center">Your CIRSx Journey Starts Here</h1>
    </div>
    </div>

    <div class="px-4 pt-5 text-center border-bottom">
  <!-- Header -->
  <h1 class="display-3 text-black">
      <b>Slide decks for <q>Spring Break With Data:  Its' More Than Mold</q></b>
      <br>
      <a href=""> View/Download Slide decks here
      </a>
  </h1>
  <div class="col-lg-6 mx-auto">
    <!-- 4.1.1.4.2.2 Details -->
    <p class="lead mb-4 fs-3 fw-bold text-black">
        Recordings will be available after the conference in the Professional Tier Video Resources section.
        <br>
        For virtual attendees, request CME by filling out these forms (three in total , one for each day):
        <br>
    </p>
        <br>
    <p class="lead mb-4 fs-3 fw-bold text-black">
        Friday - <a href="https://cirsx.wufoo.com/forms/m9oi1mm10lfc4d/"> https://cirsx.wufoo.com/forms/m9oi1mm10lfc4d/</a>
        <br>
        Saturday - <a href="https://cirsx.wufoo.com/forms/m1eskvq517f7dkb/"> https://cirsx.wufoo.com/forms/m1eskvq517f7dkb/</a>
        <br>
        Sunday - <a href="https://cirsx.wufoo.com/forms/mm4po5g0rkg4sw/"> https://cirsx.wufoo.com/forms/mm4po5g0rkg4sw/</a>
    </p>

    </div>
  </div>
</div>



{% endblock content %}