{% extends "home/base.html" %}{% load static %}{% block content %}

    <div class="p-5 w-100 bg-secondary" style="background-image: url('{%  %}')">
    <div class="container-fluid py-5">

    <h1 class="display-5 fw-bold text-white text-center">Your CIRSx Journey Starts Here</h1>
    </div>
    </div>

    <div class="px-4 pt-5 text-center border-bottom">
  <h1 class="display-3 text-black">
      <b>Slide decks for <q>Spring Break With Data:  Its' More Than Mold</q></b>
      <br>
      <a href=""> View/Download Slide decks here
      </a>
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 fs-3 fw-bold text-black">
        Recordings will be available after the conference in the Professional Tier Video Resources section.
        <br>
        For virtual attendees, request CME by filling out these forms (three in total , one for each day):
        <br>
    </p>
        <br>
    <p class="lead mb-4 fs-3 fw-bold text-black">
        Friday - <a href="https://cirsx.wufoo.com/forms/m9oi1mm10lfc4d/"> https://cirsx.wufoo.com/forms/m9oi1mm10lfc4d/</a>
        <br>
        Saturday - <a href="https://cirsx.wufoo.com/forms/m1eskvq517f7dkb/"> https://cirsx.wufoo.com/forms/m1eskvq517f7dkb/</a>
        <br>
        Sunday - <a href="https://cirsx.wufoo.com/forms/mm4po5g0rkg4sw/"> https://cirsx.wufoo.com/forms/mm4po5g0rkg4sw/</a>
    </p>

    </div>
  </div>
</div>


     <div class="p-5 mb-4 rounded-3">
  <div class="container-fluid py-5">
  </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm bg-light">
          <div class="pt-5">
            <img class="center" src="{% static "home/tier_page/tier_pic1.jpg" %}"
            alt="" width="" height="">
          </div>
            <!-- watch -->
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li class="fs-2"> Video Resources </li>
              <li class="fs-4"> View past and current conferences, webinars, podcasts, interviews and discussions. </li>
              <li class="fs-3"> <b>New Series:</b> </li>
              <li class="fs-4"> <q> DEEPER DIVE </q> Demystifying research articles and explaining their relevance to CIRS </li>
            </ul>
            <a href=""> <button type="button" class="btn btn-dark btn-lg btn-outline-secondary text-white">Watch</button></a>
          </div>
        </div>
      </div>
            <!-- Access Resources -->
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm bg-light">
          <div class="pt-5">
            <img class="center" src="{% static "home/tier_page/tier_pic2.jpg" %}"
            alt="" width="" height="">
          </div>

          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li class="fs-2"> Database </li>
              <li class="fs-4"> Medical / Environmental research papers, bibliographies, and full-text search engine </li>
              <li class="fs-4"> <b>Coming Soon!</b> Full text search engine. Stay tuned. </li>
            </ul>
            <a href=""> <button type="button" class="btn btn-dark btn-lg btn-outline-secondary text-white">Access Resources</button></a>
          </div>
        </div>
      </div>
            <!--Event Details-->
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm bg-light">
          <div class="pt-5">
            <img class="center" src="{% static "home/tier_page/tier_pic3.jpg" %}"
            alt="" width="" height="">
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li class="fs-2"> Events </li>
                <li class="fs-4"> Find event details for upcoming events like the 2022 CIRSx Annual Conference,
                        <q>I Dream of GENIE</q> and <q>House Calls</q> Web Conferences, podcasts, interviews, discussions. </li>
            </ul>
            <a href=""> <button type="button" class="btn btn-dark btn-lg btn-outline-secondary text-white">Event Details</button></a>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="bg-white rounded-3">
      <div class="container-fluid">
          <!-- 4.1.1.2.4.1 Title -->
        <h1 class="display-2 fw-bold text-center">CIRSx Trusted Partners</h1>

      <div class="row row-cols-1 row-cols-md-4 g-4 align-items-center">
  <div class="col text-center">
      <a href="https://www.greathealthworks.com/">
          <img src="{% static 'home/tier_page/OMAPREM (OmegaXL).png' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">

      </div>
  </div>
  <div class="col text-center">
        <a href="https://www.rxandhealth.com/">
          <img src="{% static 'home/tier_page/HopkintonDrugs.png' %}" class="card-img-top" alt="..."
          height="175px"
          >
        </a>
      <div class="card-body">

      </div>
  </div>
  <div class="col text-center">
      <a href="https://www.envirobiomics.com/">
          <img src="{% static 'home/tier_page/EnviroBiomics2660x1600-transparent_tranws.png' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">

      </div>
  </div>
  <div class="col text-center">
      <a href="https://apexenergetics.com/">
          <img src="{% static 'home/tier_page/thumbnail_apex energetics logo blue.png' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">

      </div>
  </div>
  <div class="col text-center">
      <a href="https://www.aerosolver.com/">
          <img src="{% static 'home/tier_page/AeroSolver.png' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">

      </div>
  </div>
  <div class="col text-center">
      <a href="https://www.airoasis.com/">
          <img src="{% static 'home/tier_page/air oasis.png' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">

      </div>
  </div>
  </div>
 </div>
</div>


{% endblock content %}