{% extends "index/base.html" %}{% load static %}{% block content %}

<div
  class="text-center bg-light"
  style="
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  "
>
  <main class="form-signin w-30 m-auto">
    {% if form.errors %}
    <p class="text-danger">Email or password is invalid</p>
    {% endif %} {% if next %}
    <p class="text-danger">Access Denied, please contact a member of support</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}

      <h1 class="h3 mb-3 fw-normal">Welcome to CIRSx: Joining the Mission</h1>

      <div class="row text-start mb-3">
         {{ form.email.label_tag}}{{ form.email }}
      </div>

      <div class="row text-start mb-3">
        {{ form.password.label_tag }}{{ form.password }}
      </div>

      <input type="submit" value="Login"  class="btn btn-dark btn-lg btn-outline-secondary text-white"/>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p class="p-5">
      Don't have account Sign up <a href="{% url 'subscribe' %}">Here</a>
    </p>
  </main>
</div>

{% endblock content %}
