{% extends "member/base.html" %}{% load static %}{% block content %}
<div class="container bg-light">

<h1><b> CME Accreditation Statement </b></h1>
    <br>
    <p>This activity has been planned and implemented in accordance with the accreditation requirements and policies
    of the New Mexico Medical Society (NMMS) through the joint sponsorship of Rehoboth McKinley Christian Health
    Care Services (RMCHCS) and Gallup Indian Medical Center. RMCHCS is accredited by the NMMS to provide continuing
    medical education for physicians.</p>
    <br>
    <p>Credit Statement: RMCHCS designates this live activity for a maximum of 19.0 AMA PRA Category 1 Credit(s)™.
        Physicians should claim only the credit commensurate with the extent of their participation in the activity.</p>
    <br>
    <p>All of the relevant financial relationships listed for these individual(s), both planners and speakers, have been mitigated.</p>

</div>

{% endblock content %}