{% extends "member/base.html" %}{% load static %}{% block content %}
<div class="bg-light">
<div class="container col-xxl-8 px-4 py-5">
  <div class="col-md-12 order-md-2">
    <div class="row g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">

      <img src="{% static "index/tier_page/Dive_deeper.jpg" %}" class="mx-lg-auto
      img-fluid" alt="" width="100%" height="auto" loading="lazy" />
    </div>
    <div class="col-lg-6">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-center">
        <q>A Deeper Dive - Medical</q> with Dr.Scott McMahon</h1>

    <p class="lead fs-4 pt-4">
      <i>Join Scott in this continuing series as he breaks down the important issues found in research articles and
          explains why these papers are critical for the CIRS community.</i>
      <br>
      <br>
      Click on the titles to see the full article.
    </p>
    </div>
    </div>
  </div>
</div>

    <div class="p-5 m-5 text-center">
         <iframe
          width="500"
          height="315"
          src="https://vimeo.com/684756974/a565deca6b?embedded=true&source=video_title&owner=118339223"
          title=""
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
         </iframe>
</div>

    <div class="p-5 m-5 text-center fs-3">
        <a class="text-black" href="https://www.survivingmold.com/Downloads/Dooley-McMahon_Final_Publication_-_3-30-2020.pdf"><p>A Comprehensive Review of Mold Literature from 2011 - 2018</p></a>
        <br>
        <p>Internal Medicine Review, Ming Dooley, Scott W. McMahon MD,</p>
        <p>January 2020</p>
        <p><i>Added January 25, 2022</i></p>
</div>
</div>
{% endblock content %}