{% extends "member/base.html" %}{% load static %}{% block content %}

<div class="bg-light">
    <h1 class="pt-5 text-center">{{ dr_info.document_route }}
                                </h1>
    <p class="fs-4 text-center"><i>{{ dr_info.dr_description }}</i></p>

        <div class="container bg-secondary p-5">
            <div class="row">
                {% for video in content %}
                <div class="col-md-6 col-lg-6 col-sm-10 text-center">

                        <iframe
                              width="500"
                              height="315"
                              src="{{ video.doc_path }}"
                              title="{{ video.title }}"
                              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen>
                        </iframe>
                      <h3>{{ video.title }}</h3>
                </div>
                    {% endfor %}

            </div>
        </div>

</div>

{% endblock content %}