{% extends "home/base.html" %}{% load static %}{% block content %}

    <div class="p-5 w-100 bg-secondary">
    <div class="container-fluid py-5">

    <h1 class="display-5 fw-bold text-white text-center">Your CIRSx Journey Starts Here</h1>
    </div>
    </div>

    <div class="px-4 pt-5 text-center border-bottom">
  <h1 class="display-3 text-black">
      <b>Slide decks for <q>Spring Break With Data:  Its' More Than Mold</q></b> </h1>
      <br>
    <h1 class="display-3">  <a class="text-black" href=""> View/Download Slide decks here
      </a>
    </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 fs-3 fw-bold text-black">
        Recordings will be available after the conference in the Professional Tier Video Resources section.
        <br>
        For virtual attendees, request CME by filling out these forms (three in total , one for each day):
        <br>
    </p>
        <br>
    <p class="lead mb-4 fs-3 fw-bold text-black">
        Friday - <a class="text-black" href="https://cirsx.wufoo.com/forms/m9oi1mm10lfc4d/"> https://cirsx.wufoo.com/forms/m9oi1mm10lfc4d/</a>
        <br>
        Saturday - <a class="text-black" href="https://cirsx.wufoo.com/forms/m1eskvq517f7dkb/"> https://cirsx.wufoo.com/forms/m1eskvq517f7dkb/</a>
        <br>
        Sunday - <a class="text-black" href="https://cirsx.wufoo.com/forms/mm4po5g0rkg4sw/"> https://cirsx.wufoo.com/forms/mm4po5g0rkg4sw/</a>
    </p>

    </div>
  </div>



     <div class="p-5 mb-4 rounded-3">
  <div class="container py-5">

    <div class="row row-cols-lg-3 mb-2 row-cols-md-1">
      <div class="col d-flex">
        <div class="card mb-4 rounded-3 shadow-sm bg-light">
          <div class="pt-5">
            <img class="center mx-5" src="{% static "home/tier_page/tier_pic1.jpg" %}"
            alt="" width="300" height="200">
          </div>
            <!-- watch -->
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li class="fs-3 pb-2 text-center"> Video Resources </li>
              <li class="fs-4 pb-2"> View past and current conferences, webinars, podcasts, interviews and discussions. </li>
              <li class="fs-4 pb-2 text-center"> <b>New Series:</b> </li>
              <li class="fs-4 pb-2"> <q> DEEPER DIVE </q> Demystifying research articles and explaining their relevance to CIRS </li>
            </ul>
              <div class="card-footer bg-light border-light">
            <a href=""> <button type="button" class="btn btn-dark btn-lg btn-outline-secondary text-white">Watch</button></a>
          </div>
          </div>
        </div>
      </div>
            <!-- Access Resources -->
      <div class="col d-flex">
        <div class="card mb-4 rounded-3 shadow-sm bg-light">
          <div class="pt-5">
            <img class="center mx-5" src="{% static "home/tier_page/tier_pic2.jpg" %}"
            alt="" width="" height="">
          </div>

          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li class="fs-2 pb-4 text-center"> Database </li>
              <li class="fs-4 pb-4"> Medical / Environmental research papers, bibliographies, and full-text search engine </li>
              <li class="fs-4 pb-5"> <b>Coming Soon!</b> Full text search engine. Stay tuned. </li>
            </ul>
          <div class="card-footer bg-light border-light">
            <a href=""> <button type="button" class="btn btn-dark btn-lg btn-outline-secondary text-white">Access Resources</button></a>
          </div>
        </div>
      </div>
     </div>
            <!--Event Details-->
      <div class="col d-flex">
        <div class="card mb-4 rounded-3 shadow-sm bg-light">
          <div class="pt-5">
            <img class="center mx-5" src="{% static "home/tier_page/tier_pic3.jpg" %}"
            alt="" width="" height="">
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li class="fs-2 pb-5 text-center"> Events </li>
                <li class="fs-4 pb-5"> Find event details for upcoming events like the 2022 CIRSx Annual Conference,
                        <q>I Dream of GENIE</q> and <q>House Calls</q> Web Conferences, podcasts, interviews, discussions.</li>
                <li></li>
            </ul>
                <div class="card-footer bg-light border-light">
            <a href=""> <button type="button" class="btn btn-dark btn-lg btn-outline-secondary text-white">Event Details</button></a>
                </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
    <div class="bg-white rounded-3">
      <div class="container-fluid">
                  <h1 class="display-2 fw-bold text-center">CIRSx Trusted Partners</h1>

      <div class="row row-cols-1 row-cols-md-3 g-3 align-items-center">
  <div class="col text-center">
      <a href="https://www.greathealthworks.com/">
          <img src="{% static 'home/tier_page/OMAPREM (OmegaXL).png' %}" class="card-img-top" alt="..." height="75" width="150">
      </a>
      <div class="card-body">

      </div>
  </div>
  <div class="col text-center">
        <a href="https://www.rxandhealth.com/">
          <img src="{% static 'home/tier_page/HopkintonDrugs.png' %}" class="card-img-top" alt="..."
          height="175px"
          >
        </a>
      <div class="card-body">

      </div>
  </div>
  <div class="col text-center">
      <a href="https://www.envirobiomics.com/">
          <img src="{% static 'home/tier_page/EnviroBiomics2660x1600-transparent_tranws.png' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">

      </div>
  </div>
  <div class="col text-center">
      <a href="https://apexenergetics.com/">
          <img src="{% static 'home/tier_page/apex_trans.png' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">

      </div>
  </div>
  <div class="col text-center">
      <a href="https://www.aerosolver.com/">
          <img src="{% static 'home/tier_page/AeroSolver Logo_trans.png' %}" class="card-img-top"
               alt="...">
      </a>
      <div class="card-body">

      </div>
  </div>
  <div class="col text-center">
      <a href="https://www.airoasis.com/">
          <img src="{% static 'home/tier_page/air oasis.png' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">

      </div>
  </div>
  </div>
 </div>
</div>


{% endblock content %}