{% extends "member/base.html" %}{% load static %}{% block content %}

        <div class="p-5 bg-light"
          style="background-image: url('{% static "home/tier_page/Tier_videoBG.jpg" %}');
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: 70% 70%;
                 background-blend-mode: darken">">

    <div class="container-fluid" style="height: 300px;">

            {% for group in request.user.groups.all %}
            {% if 'Professional Tier' == group.name %}

                <h1 class="display-1 fw-bold text-white text-center p-5">Professional Tier Video <br> Resources </h1>

            {% endif %}
            {% if 'Patient Tier' == group.name %}
                <h1 class="display-1 text-white text-center p-5">Patient Tier Video <br>Resources</h1>
            {% endif %}
            {% endfor %}

    </div>
    </div>

            {% for group in request.user.groups.all %}
            {% if 'Professional Tier' == group.name %}

     <div class="px-4 pt-5 text-center border-bottom">
     <div class="container-fluid py-5">
      <h1 class="display-3 text-primary">
          2022 SurvivingMold/CIRSx In-Person and Live Streamed Conference </h1>
             <p class="fs-3"> <a class="text-black" href="..."> <q>Spring Break with Data: It's More Than Mold"</q></a> - April 2022 - Ft Lauderdale, FL
             </p>
     </div>
     </div>
     <div class="px-4 pt-5 text-center border-bottom">
     <div class="container-fluid py-5">
       <h1 class="display-3 text-primary">
         Deeper Dive Series </h1>
         <p class="fs-3"><i>Our experts select a <q>must know</q> research paper from our library to discuss.  Gain a better understanding
             of the paper’s content and understand how it  impacts your practice/business.</i></p>

        <a class="btn btn-dark btn-lg btn-outline-secondary text-white"> Deeper Dive Series » </a>
     </div>
     </div>

            {% endif %}
            {% endfor %}

     <div class="px-4 pt-5 text-center border-bottom">
  <h1 class="display-3 text-primary">
      Medical Glossary / Environmental Glossary </h1>
         <p class="fs-3">
             <i>Introduction to CIRS terms and concepts,</i></p>

         <a class="btn btn-dark btn-lg btn-outline-secondary text-white" href="{% url "medical_glossary" %}"> Medical Glossary » </a>
      <div class="pt-5">
         <a class="btn btn-dark btn-lg btn-outline-secondary text-white" href="{% url "environmental_glossary" %}"> Environmental Glossary » </a>
      <div class="pt-5">
     </div>
     </div>
     </div>

      <div class="px-4 pt-5 text-center">
            <h1 class="display-3 text-primary">
            Recordings of Past Events: </h1>
      </div>

{% endblock content %}