{% extends "member/base.html" %}{% load static %}{% block content %}

    <div class="p-5 bg-secondary"
    style="background-image: url('{% static "index/tier_page/Tie_welcomeBG.jpg" %}');
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: 75% 75%;
                 background-blend-mode: darken">
    <div class="container-fluid" style="height: 250px;">

    <h1 class="display-1 p-5 fw-bold text-white text-center">Your CIRSx Journey <br> Starts Here</h1>
    </div>
    </div>

         {% for group in request.user.groups.all %}
         {% if 'Professional Tier' == group.name or 'CIRSx Staff' == group.name %}

   <!-- <div class="px-4 pt-5 fw-bold text-center border-bottom">
  <h1 class="display-3 text-black">
      <b>Slide decks for <q>Spring Break With Data:  Its' More Than Mold</q></b> </h1>
      <br>
    <h1 class="display-3">  <a class="text-black" href=""> View/Download Slide decks here
      </a>
    </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 fs-3 fw-bold text-black">
        Recordings will be available after the conference in the Professional Tier Video Resources section.
        <br>
        For virtual attendees, request CME by filling out these forms (three in total , one for each day):
        <br>
    </p>
        <br>
    <p class="lead mb-4 fs-3 fw-bold text-black">
        Friday - <a class="text-black" href="https://cirsx.wufoo.com/forms/m9oi1mm10lfc4d/"> https://cirsx.wufoo.com/forms/m9oi1mm10lfc4d/</a>
        <br>
        Saturday - <a class="text-black" href="https://cirsx.wufoo.com/forms/m1eskvq517f7dkb/"> https://cirsx.wufoo.com/forms/m1eskvq517f7dkb/</a>
        <br>
        Sunday - <a class="text-black" href="https://cirsx.wufoo.com/forms/mm4po5g0rkg4sw/"> https://cirsx.wufoo.com/forms/mm4po5g0rkg4sw/</a>
    </p> -->

             {% endif %}
               {% if 'Patient Tier' == group.name %}
               <h1 class="text-center pt-5">Welcome to your Patient Tier Subscription Portal</h1>
               {% endif %}
            {% endfor %}

    </div>
  </div>



 <div class="p-5 mb-4 rounded-3">
  <div class="container py-5">

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8 text-center">
      <div class="p-4 rounded-3 shadow-sm bg-light">
          <div class="pt-5">
            <img class="center mx-5" src="{% static "index/tier_page/tier_pic1.jpg" %}"
            alt="" width="60%" height="auto">
          </div>
            <!-- watch -->
          <div class="card-body">

                {% for group in request.user.groups.all %}
                {% if 'Professional Tier' == group.name or 'CIRSx Staff' == group.name %}

                    <h3 class="text-center pb-2"> Video Resources </h3>
            <ul class="list-unstyled mt-1 mb-1">
              <li class="fs-4 pb-3"> View past and current conferences, webinars, podcasts, interviews and discussions. </li>
              <li class="fs-4 pb-3 text-center"> <b>New Series:</b> </li>
              <li class="fs-4 pb-3"> <q> DEEPER DIVE </q> Demystifying research articles and explaining their relevance to CIRS </li>
            </ul>
              <div class="card-footer bg-light border-light">
            <a href="{% url "tier_videos" %}"> <button type="button" class="btn btn-dark btn-lg btn-outline-secondary text-white">Watch</button></a>
              </div>

                {% endif  %}
                    {% if 'Patient Tier' == group.name %}
                        <h3 class="text-center pb-4"><u>Video Resources </u></h3>
                        <ul class="list-unstyled mt-2">
                            <li class="fs-4"> Legacy SurvivingMold, Mold Congress & CIRSx conferences, interviews and podcasts. </li>
                        </ul>
                    {% endif %}
                {% endfor %}


          </div>
        </div>
      </div>
            <!-- Access Resources -->
    <div class="col-lg-4 col-md-6 col-sm-8  text-center">
      <div class="p-4 rounded-3 shadow-sm bg-light">
          <div class="pt-5">
            <img class="center mx-5" src="{% static "index/tier_page/tier_pic2.jpg" %}"
            alt="" width="60%" height="auto">
          </div>

          <div class="card-body">

                    {% for group in request.user.groups.all %}
                    {% if 'Professional Tier' == group.name or 'CIRSx Staff'%}

                <h3 class="pb-4 pt-4 text-center"> Database </h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li class="fs-4 pb-4"> Medical / Environmental research papers, bibliographies, and full-text search engine </li>
              <li class="fs-4 pb-5"> <b>Coming Soon!</b> Full text search engine. Stay tuned. </li>
            </ul>
          <div class="card-footer bg-light border-light">
            <a href="{% url "research_papers" %}"> <button type="button" class="btn btn-dark btn-lg btn-outline-secondary text-white">Research Papers</button></a>
            <a href="{% url "bibliographies" %}"> <button type="button" class="btn btn-dark btn-lg btn-outline-secondary text-white">Bibliographies</button></a>
          </div>

                    {% endif %}
                {% if 'Patient Tier' == group.name %}

              <h3 class="pt-4 pb-4 text-center"> <u>Access Our Database</u> </h3>
            <ul class="list-unstyled mt-2">
                <li class="fs-4"> Helpful medical and environmental resources and articles. </li>
            </ul>

                {% endif %}
                    {% endfor %}


        </div>
      </div>
     </div>
            <!--Event Details-->
    <div class="col-lg-4 col-md-6 col-sm-8  text-center">
      <div class="p-4 rounded-3 shadow-sm bg-light">
          <div class="pt-5">
            <img class="center mx-5" src="{% static "index/tier_page/tier_pic3.jpg" %}"
            alt="" width="60%" height="auto">
          </div>
          <div class="card-body">

                    {% for group in request.user.groups.all %}
                    {% if 'Professional Tier' == group.name or 'CIRSx Staff' == group.name %}

                <h3 class="pt-4 pb-5 text-center"> Events </h3>
            <ul class="list-unstyled mt-3 mb-4">
                <li class="fs-4 pb-3"> Find event details for upcoming events like the 2022 CIRSx Annual Conference,
                        <q>I Dream of GENIE</q> and <q>House Calls</q> Web Conferences, podcasts, interviews, discussions.</li>
                <li></li>
            </ul>
                {% for e in event %}
                <div class="card-footer bg-light border-light">
                    <a href="{% url "conference" e.event_name %}"> <button type="button" class="btn btn-dark btn-lg btn-outline-secondary text-white">{{ e.event_name }}</button></a>
                </div>
                {% endfor %}

                    {% endif %}
                {% if 'Patient Tier' == group.name %}

            <h3 class="pt-4 pb-4 text-center"> <u>Special Events</u> </h3>
          <ul class="list-unstyled mt-2">
              <li class="fs-4"> How to register for CIRSx events not included in your patient tier membership. </li>
          </ul>

                {% endif %}
                    {% endfor %}

          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

    {% for group in request.user.groups.all %}
        {% if 'Professional Tier' == group.name or 'CIRSx Staff' == group.name %}
        <!-- Sponsors -->
    <div class="bg-white rounded-3">
      <div class="container-fluid">
                  <h1 class="display-2 fw-bold text-center p-5">CIRSx Trusted Partners</h1>

      <div class="row row-cols-1 row-cols-md-3 g-3 align-items-center">
  <div class="col text-center">
      <a href="https://www.greathealthworks.com/">
          <img src="{% static 'index/tier_page/OMAPREM (OmegaXL).png' %}" class="card-img-top" alt="..." height="75" width="150">
      </a>
      <div class="card-body">

      </div>
  </div>
  <div class="col text-center">
        <a href="https://www.rxandhealth.com/">
          <img src="{% static 'index/tier_page/HopkintonDrugs.png' %}" class="card-img-top" alt="..."
               height="175px"
          >
        </a>
      <div class="card-body">

      </div>
  </div>
  <div class="col text-center">
      <a href="https://www.envirobiomics.com/">
          <img src="{% static 'index/tier_page/EnviroBiomics2660x1600-transparent_tranws.png' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">

      </div>
  </div>
  <div class="col text-center">
      <a href="https://apexenergetics.com/">
          <img src="{% static 'index/tier_page/apex_trans.png' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">

      </div>
  </div>
  <div class="col text-center">
      <a href="https://www.aerosolver.com/">
          <img src="{% static 'index/tier_page/AeroSolver Logo_trans.png' %}" class="card-img-top"
               alt="...">
      </a>
      <div class="card-body">

      </div>
  </div>
  <div class="col text-center">
      <a href="https://www.airoasis.com/">
          <img src="{% static 'index/tier_page/air oasis.png' %}" class="card-img-top" alt="...">
      </a>
      <div class="card-body">

      </div>
  </div>
  </div>
 </div>
</div>
{% endif %}
{% endfor %}
{% endblock content %}