<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

         <!-- 4.1.1.1.1.1 Header Text -->
            CIRSx: A Comprehensive Solution for CIRS Education, Training and Remediation

        <!--4.1.1.1.1.2 Background -->

        <!-- 4.1.1.1.1.3 Primary Button -->

        <!-- 4.1.1.1.1.3.1 Link -->

        <!-- 4.1.1.1.1.3.2 Text -->
            Learn more

        <!-- 4.1.1.1.2 Join the Mission Feature w/Jumbotron -->

        <!-- 4.1.1.1.2.1 Jumbotron Title Text -->
            <h2> Join the Mission </h2>

        <!-- 4.1.1.1.2.2 Jumbotron Text -->
            Providing science-based training, education, and awareness to environmental and medical professionals
            treating Chronic Inflammatory Response Syndrome (CIRS) patients.

        <!-- 4.1.1.1.2.3 Jumbotron Background -->
            TBD

        <!-- 4.1.1.1.2.4 Features -->

        <!--4.1.1.1.2.4.1 Get Help -->

        <!-- 4.1.1.1.2.4.1.1 Icon -->
            Question-Mark-Circle

        <!-- 4.1.1.1.2.4.1.2 Title-->
            <h2> Get Help </h2>

        <!-- 4.1.1.1.2.4.1.3 Text -->
            Connect with environmental and medical professionals providing treatment and remediation services to those
            suffering from CIRS and other mold-based illnesses, while building the knowledge and skills required to
            prevent future mold, and its dangerous impact.

        <!-- 4.1.1.1.2.4.1.4 Button -->

        <!-- 4.1.1.1.2.4.1.4.1 Link -->


        <!-- 4.1.1.1.2.4.2 Get Educated -->

        <!-- 4.1.1.1.2.4.2.1 Icon -->
            Lightblub

        <!-- 4.1.1.1.2.4.2.2 Title -->
            <h2> Get Educated </h2>

        <!-- 4.1.1.1.2.4.2.3 Text -->
            Whether you are a member of the medical community or an environmental professional looking for general
            education, certification, or continuing education credits, our comprehensive subscription is your one
            stop shop for all things CIRS.

        <!-- 4.1.1.1.2.4.2.4 Button -->

        <!-- 4.1.1.1.2.4.2.4.1 Link -->


        <!-- 4.1.1.1.2.4.2.4.2 Text -->
            Learn

        <!-- 4.1.1.1.2.4.3 Get Involved -->

        <!-- 4.1.1.1.2.4.3.1 Icon -->
            People-circle

        <!-- 4.1.1.1.2.4.3.2 Title -->
            <h2> Get Involved </h2>

        <!-- 4.1.1.1.2.4.3.3 Text -->
            Join the movement toward reducing the impact of mold and restoring health to individuals suffering with
            environmentally acquired illnesses by collaborating at events and conferences designed to share clinical
            best practices, remediation techniques, testing solutions and research.

        <!-- 4.1.1.1.2.4.3.4 Button -->

        <!-- 4.1.1.1.2.4.3.4.1 Link -->


        <!-- 4.1.1.1.2.4.3.4.2 Text -->
            Register

        <!-- 4.1.1.1.3 Jumbotron Quote -->

        <!-- 4.1.1.1.3.1 Jumbotron Text -->
            “Surviving Mold is the beginning of what we'd all like to see. An illness defeated and lives restored
            all over the world.”

            — Ritchie Shoemaker, MD

        <!--4.1.1.1.3.2 Jumbotron Background -->
            TBD

        <!--4.1.1.1.4 Blog/Announcements/News -->

        <!-- 4.1.1.1.5 Section Title -->
            TBD

        <!-- 4.1.1.1.6 Section Content -->
            TBD

        <!-- 4.1.1.1.6.1 Announcement Management -->
            TBD

        <!-- 4.1.1.1.7 Trusted Source Hero -->

        <!-- 4.1.1.1.7.1 Title -->
            <h2> A Trusted Source for CIRS Information </h2>

        <!-- 4.1.1.1.7.2 Text -->
            At CIRSx, we believe in delivering a product that is backed by peer-reviewed scientific data.
            Our vast online content repository provides physicians, environmental professionals, and patients
            suffering from mold related illnesses with direct access to scientifically proven, authentic content
            like articles, bibliographies, podcasts, and training.

            Get direct access to this proprietary content and more as a CIRSx Professional Subscriber.
            You have full access to the CIRSx database and four special educational events annually, a $900 value.

        <!-- 4.1.1.1.7.3 Video -->

        <!-- 4.1.1.1.7.4 Button -->

        <!-- 4.1.1.1.7.4.1 Link -->


        <!-- 4.1.1.1.7.4.2 Text -->
            Subscribe

</body>
</html>


        <!-- Work on Headers, Heroes, Pricing, Jumbotron, and