{% extends base_template_name  %}{% load static %}{% block content %}
    <!--get up and working-->
        <div class="p-5 bg-light"
          style="background-image: url('{% static "index/tier_page/Tier_videoBG.jpg" %}');
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: 70% 70%;
                 background-blend-mode: darken">

    <div class="container-fluid" style="height: 150px;">

        <h1 class="display-5 fw-bold text-center text-white"> CIRSx Environmental Glossary</h1>
  </div>
    </div>

    <div class="container bg-light">
        <h2 class="display-5 fw-bold text-center p-5"><i> with Greg Weatherman <br>
    Certified Microbial Consultant</i> </h2>

    <div class="row">
        <!-- 1 -->

    <div class="col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/669176887/ce128c5a17?embedded=true&source=video_title&owner=118339223"
            title="Testing & Inspection Equipment - part - 1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
        <!-- 2 -->
    <div class="col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/669177094/a348c8cb10?embedded=true&source=video_title&owner=118339223"
            title="Testing & Inspection Equipment - part - 2"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
        <!-- 3 -->
    <div class="col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/673715724/fda350dec8?embedded=true&source=video_title&owner=118339223"
            title="Testing & Inspection Equipment - part - 3"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
        <!-- 4 -->
    <div class="col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/674007341/7e850f90d4?embedded=true&source=video_title&owner=118339223"
            title="Test Methods - part - 1"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
        <!-- 5 -->
    <div class="col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/669177791/8c44ccd896?embedded=true&source=video_title&owner=118339223"
            title="Test Methods - part - 2"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
        <!-- 6 -->
    <div class="col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/669178107/0b335b8ac2?embedded=true&source=video_title&owner=118339223"
            title="Test Methods - part - 3"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
        <!-- 7 -->
    <div class="col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/680062977/aede375d94?embedded=true&source=video_title&owner=118339223"
            title="Enviromental Analysis Methods"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
    </div>
    </div>
{% endblock content %}
