{% extends "home/base.html" %}{% load static %}{% block content %}
    <!--get up and working-->
        <div class="p-5 bg-light"
          style="background-image: url('{% static "index/tier_page/Tier_videoBG.jpg" %}');
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: 70% 70%;
                 background-blend-mode: darken">

    <div class="container-fluid" style="height: 150px;">

        <h1 class="display-5 fw-bold text-center text-white"> CIRSx Medical Glossary</h1>
  </div>
    </div>

    <div class="container bg-light">
        <h2 class="display-5 fw-bold text-center pb-5"><i> with Dr. Scott McMahon</i> </h2>

    <div class="row">
        <!-- 1 -->

    <div class="col-md-6 col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/662740138/f5b24a21ab?embedded=true&source=video_title&owner=118339223"
            title="CIRSx Medical Glossary - Part 1: Microbiology"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
        <!-- 2 -->
    <div class="col-md-6 col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/666554926/52ba613d68?embedded=true&source=video_title&owner=118339223"
            title="CIRSx Medical Glossary - Part 2: Cell Biology Basics!"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
        <!-- 3 -->
    <div class="col-md-6 col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/662741130/0a0d0cd4c7?embedded=true&source=video_title&owner=118339223"
            title="CIRSx Medical Glossary - Part 3, Section 1: Immune System"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
        <!-- 4 -->
    <div class="col-md-6 col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/662741654/18f44bbbc9?embedded=true&source=video_title&owner=118339223"
            title="CIRSx Medical Glossary - Part 3, Section 2: Immune System"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
        <!-- 5 -->
    <div class="col-md-6 col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/662742402/d8b7f6d31c?embedded=true&source=video_title&owner=118339223"
            title="CIRSx Medical Glossary - Part 4, Section 1: CIRS Basics Pathophysiology"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
        <!-- 6 -->
    <div class="col-md-6 col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/662742744/f627f4ffb1?embedded=true&source=video_title&owner=118339223"
            title="CIRSx Medical Glossary - Part 4, Section 2: CIRS Basics - Lab Tests"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
        <!-- 7 -->
    <div class="col-md-6 col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/662743278/ae904cbd2e?embedded=true&source=video_title&owner=118339223"
            title="CIRSx Medical Glossary - Part 4, Section 3: CIRS Basics - Medicine and Other Therapies"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
        <!-- 8 -->
    <div class="col-md-6 col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/662743675/e4e33d5cc2?embedded=true&source=video_title&owner=118339223"
            title="CIRSx Medical Glossary - Part 5:  Molecular Hypometabolism Basics!"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
        <!-- 9 -->
    <div class="col-md-6 col-lg-6">
    <iframe
            width="560"
            height="315"
            src="https://vimeo.com/679720362/f98695066e?embedded=true&source=video_title&owner=118339223"
            title="CIRSx Medical Glossary - Part 6:  Medical Differential Diagnosis"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
    </div>
    </div>
    </div>

{% endblock content %}
