{% extends "home/base.html" %}{% load static %}{% block content %}

 <div class="p-5 bg-secondary"
    style="background-image: url('{% static "index/tier_page/events_BG.jpg" %}');
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: 75% 75%;
                 background-blend-mode: darken">
    <div class="container-fluid" style="height: 150px;">

    <h1 class="display-1 p-2 fw-bold text-white text-center"> Placeholder </h1>
    </div>
    </div>


    <div>
    <p class="fs-5 fw-bold text-center"> This shows you what news articles would look like.</p>

    </div>

{% endblock content %}
